html {
  box-sizing: border-box;
  justify-content: center;
  display: grid;
  
}

body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background: linear-gradient(150deg, indigo, rgba(238, 130, 238, 0.777), rgba(255, 254, 192, 0.655), rgba(128, 128, 128, 0.721));
  border: 6px solid blue;
  height: 120px;
  width: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.move-button:active {
  background: linear-gradient(300deg, indigo, rgba(238, 130, 238, 0.777), rgba(255, 254, 192, 0.655), rgba(128, 128, 128, 0.721));
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
  color: yellow;
}

.score {
  margin-top: 60px;
}

.reset-score-button {
  background-color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 15px;
  cursor: pointer;
}

.result-win {
  color: green;
}

.result-tie {
  color: gray;
}

.result-loss {
  color: red;
}